body {
  margin: 0 0 0;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.buttons {
  margin-top: 20px;
}

.cell-alive {
  background: #222;
  border: 1px solid #999;
  height: 15px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 15px;
}

.cell-dead {
  background: #fff;
  border: 1px solid #999;
  height: 15px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 15px;
}
